<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>[% title %] Event #[% event.number %]</title>
	<meta name="author" content="[% author %]">
	<meta name="description" content="[% description %]">
	<meta name="keywords" content="[% keywords %]">
    <meta name="ICBM" content="[% locations.${event.location}.latitude %], [% locations.${event.location}.latitude %]">
    <meta name="geo.position" content="[% locations.${event.location}.latitude %]; [% locations.${event.location}.latitude %]">
	<link rel="canonical" href="[% uri %]">
[% FOREACH feed IN feeds -%]
	<link rel="alternate" type="[% media.$feed.type %]" title="[% media.$feed.title %]" href="/[% feed %]">
[% END %]
[% FOREACH m IN media -%]
	<link rel="alternate" type="[% m.value.type %]" title="#[% m.value.title %]" href="[% event.number %].[% m.key %]">
[% END -%]
	<link rel="stylesheet" href="../styles/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	[% PROCESS title.html -%]
    <div id='content'>
[% PROCESS item.html -%]
				<p class="hashtag">Event hashtag:
[% FOREACH hashtag IN event.hashtag -%]
					<a href="http://search.twitter.com/search?q=[% hashtag %]" rel="hashtag">[% hashtag %]</a>
				</p>
[% END -%]
				<p class="tagged">Tagged with 
[% FOREACH tag IN event.tags -%]
					<a rel="tag" href="http://delicious.com/tag/[% tag FILTER remove('\s+') FILTER lower %]">[% tag %]</a>
[% END -%]
				</p>
				<p>Useful links:</p>
				<ul class="links">
[% FOREACH link IN event.links -%]
					<li><a href="[% link.uri %]">[% link.title %]</a></li>
[% END -%]
				</ul>
	</div>
[% PROCESS footer.html -%]
</body>
</html>
