<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>[% title %] Event #[% event.number %]</title>
	<meta name="author" content="[% author %]">
	<meta name="description" content="[% description %]">
	<meta name="keywords" content="[% keywords %]">
    <meta name="ICBM" content="[% locations.${event.location}.latitude %], [% locations.${event.location}.latitude %]">
    <meta name="geo.position" content="[% locations.${event.location}.latitude %]; [% locations.${event.location}.latitude %]">
	<link rel="canonical" href="[% uri %]">
[% FOREACH feed IN feeds -%]
	<link rel="alternate" type="[% media.$feed.type %]" title="[% media.$feed.title %]" href="/[% feed %]">
[% END %]
[% FOREACH m IN media -%]
	<link rel="alternate" type="[% m.value.type %]" title="#[% m.value.title %]" href="[% event.number %].[% m.key %]">
[% END -%]
	<link rel="stylesheet" href="../styles/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	[% PROCESS title.html -%]
    <div id='content'>
[% PROCESS item.html -%]
	<div id="flickr">
		  <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&amp;source=all_tag&amp;tag=oshug:event%3D[% event.number %]&amp;display=random&amp;size=m"></script>
	</div>
	<div id="upload">
	<p>To add your photographs here, upload them to <a href="http://flickr.com">Flickr</a> with the tag 
	"<a class="tag" href="http://www.flickr.com/photos/tags/oshug%3Aevent%3D[% event.number %]/">oshug:event=[% event.number %]</a>".
	You might also like to join the <a href="http://www.flickr.com/groups/oshug/pool/">OSHUG Flickr Pool</a>.</p>
	</div>
	</div>
[% PROCESS footer.html -%]
</body>
</html>
