<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>[% title %]</title>
	<meta name="description" content="[% description %]">
	<meta name="keywords" content="[% keywords %]">
	<link rel="canonical" href="[% uri %]">
[% FOREACH m IN media -%]
    <link rel="alternate" type="[% m.value.type %]" title="[% m.value.title %]" href="[% m.key %]">
[% END -%]
	<link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	[% PROCESS title.html -%]
	<div id='content'>
		<div id="forthcoming">
[% FOREACH event IN events.reverse -%]
[% PROCESS abstract.html -%] 
		<p><i><a href="event/[% event.number %]">More details, including how to register for this event..</a></i>
[% LAST %]
[% END -%]
		</div>
		<div id="events">
		<h2>Previous Events</h2>
		<p>
[% FOREACH event IN events -%]
		<i><a href="event/[% event.number %]" title="[% event.title %]">#[% event.number %]</a></i>
[% END -%]
		</p>
		</div>
		<div id="open-hardware">
		<h2>Open Source Hardware</h2>
		<p>
		Open source hardware is an approach to building physical objects with the principle of allowing 
		collaborative development, use and tinkering through the liberal licensing of artefacts such
		as manuals, software, schematic diagrams and CAD documents.
		Typical open source hardware projects range from simple electronic circuits to digital and radio systems, 
		through reprogrammable computing platforms, to hardware that combines elements of electronic, 
        mechanical and software engineering, such as 3D printers and laser engravers. 
		</p>
		</div>

		<div id="scope">
		<h2>Scope</h2>
		<p>
        We welcome discussion on open source software but ideally there should be a hardware hacking or open source hardware link, 
        as there are already <a href="http://lug.org.uk">Linux user groups</a> which provide excellent opportunities for open source software enthusiasts 
        to discuss, meet and share experiences.
		</p>
		<p>
        Mostly based in and around London, we aim to organise regular meetings in addition to communicating 
        via the mailing list. However, membership is open to all regardless of location and ability to attend meetings.
		</p>
		<p>
        Furthermore, this is not a “land grab” and we'd be happy to help, where we can, 
        if you are interested in starting up local groups elsewhere - whether that be sharing online resources or simply advice.
		</p>
		</div>

		<div id="meetings">
		<h2>Meetings</h2>
		<p>
        For health and safety reasons please do not bring soldering irons or sharp tools etc. 
        unless advised that it is fine to do so. Laptops, breadboards and battery powered equipment 
        are fine and encouraged. If you need access to a workshop with tools and equipment we suggest 
        you <a href="http://hackerspaces.org/wiki/List_of_Hacker_Spaces">look up your nearest hackspace</a> (the linked list is not exhaustive – if you don't 
        find somewhere nearby you might try a few web searches).
		</p>
		<p>
        Not all meetings may involve presentations, and the primary goal is to provide an environment in 
        which those with an interest in open source hardware can meet, share experiences and learn from each other. 
        It is hoped that events will be shaped by the wider user group membership, 

        and whilst meetings are initially being held in London, they could be held anywhere. 
        Suggestions for events and how to develop the user group and any associated resources are most welcome, 
        as indeed are offers of help in achieving this.
		</p>
		</div>
    </div>
[% PROCESS footer.html -%]
</body>
</html>
