<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>[% title %] &mdash; [% subtitle %]</title>
	<meta name="description" content="[% description %]">
	<meta name="keywords" content="[% keywords %]">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="canonical" href="[% uri %]">
[% FOREACH m IN media -%]
	<link rel="alternate" type="[% m.value.type %]" title="[% m.value.title %]" href="[% m.key %]">
[% END -%]
	<link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	[% PROCESS title.html -%]
	<div id="content">
		[% introduction %]
		<p>Events:</p>
		<ol id="events">
[% FOREACH event IN events.reverse -%]
		<li value="[% event.li %]">
			<a href="event/[% event.number %]" title="[% event.title %]">[% event.title %]</a>
		</li>
[% END -%]
		</oul>
	</div>
[% PROCESS support.html -%]
[% PROCESS footer.html -%]
</body>
</html>
