<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>[% title %]</title>
	<meta name="description" content="[% description %]">
	<meta name="keywords" content="[% keywords %]">
	<link rel="canonical" href="[% uri %]">
[% FOREACH m IN media -%]
    <link rel="alternate" type="[% m.value.type %]" title="[% m.value.title %]" href="[% m.key %]">
[% END -%]
	<link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	[% PROCESS title.html -%]
	<div id='content'>
		<p>
        A small group of people with a shared interest in 
		<a href="http://en.wikipedia.org/wiki/Open-source_hardware">Open Source Hardware</a>, 
		we hold regular meetings in and around London.
		We welcome suggestions topics and speakers for future events 
		on the <a href="http://oshug.org/cgi-bin/mailman/listinfo/oshug">discussion list</a>.
		</p>
		<p>Events:</p>
		<ul id='events'>
[% FOREACH event IN events.reverse -%]
		<li><a href="event/[% event.number %]" title="[% event.title %]">#[% event.number %] &mdash [% event.title %]</a>
		</li>
[% END -%]
		</ul>
    </div>
[% PROCESS footer.html -%]
</body>
</html>
