	<div class='vevent'>
			<h2><a class='entry-title summary' rel='bookmark' href='/event/[% event.number %]'>Event #[% event.number %] &mdash; [% event.title %]</a></h2>
			[% PROCESS vcard.html %]
			<p class=registration">Please 
[% IF event.registration -%]
				<a rel="registration" href="[% event.registration %]">register to attend</a>
[% ELSE -%]
				<i>(registation not yet open)</i>
[% END -%]
				and share on
[% IF event.upcoming -%]
				<a href="[% event.upcoming %]">Upcoming</a> and 
[% END -%]
				<a href="[% event.lanyrd %]">Lanyrd</a>.
			</p>
			<div class='entry-content'>
				<p id="abstract">[% event.description %]</p>
				[% event.sessions %]
			</div>
	</div>
