	<div class='vevent'>
			<p><a class='entry-title summary' rel='bookmark' href='event/[% event.number %]'>Event #[% event.number %] &mdash; [% event.title %]</a></p>
			<p class='vcard'>
				On the <abbr class="dtstart" title="[% event.dtstart %]">[% event.date %]</abbr> at
				<a class='fn org url' href="[% locations.${event.location}.uri %]">[% event.location %]</a>,
				<span class='adr geo'>
					<span class="locality">[% locations.${event.location}.locality %]</span> <span class="country-name">[% locations.${event.location}.country %]</span> 
					(<abbr title="[% locations.${event.location}.latitude %]" class="latitude">[% locations.${event.location}.latitude %]</abbr>,
					 <abbr title="[% locations.${event.location}.longitude %]" class="longitude">[% locations.${event.location}.longitude %]</abbr>)
				</span>
			</p>
			<p class='entry-content'>[% event.description %]</p>
	</div>
