	<div class='vevent'>
			<h2><a class='entry-title summary' rel='bookmark' href='/event/[% event.number %]'>Event #[% event.number %] &mdash; [% event.title %]</a></h2>
			[% PROCESS vcard.html %]
			<p class=registration">Please register to attend via 
[% FOREACH registration IN event.registration -%]
				<a rel="registration" href="[% event.registration %]">Eventbrite</a> and share on <a href="[% event.upcoming %]">Upcoming</a>.
			</p>
[% END -%]
			<div class='entry-content'>
				<p id="abstract">[% event.description %]</p>
				[% event.sessions %]
			</div>
	</div>
