body {
	background-color: #fff;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
}

#title {
	margin: 0 2em 5em 12em;
	float: left;
}

img.logo {
	float: right;
	padding: 2.5em 2em 0 0;
}

#content {
	clear: both;
	max-width: 90em;
}

#support {
        clear: both;
        max-width: 90em;
        padding: 1em 12em 4em 12em;
	text-align: center;
}

#support ul {
	list-style-type: none;	
}

#support ul li {
	display: inline-block;
	padding: 0;
	margin: 0 5px 5px;
}

#support ul li a {
	display: inline-block;
	width: 200px;
	height: 150px;
	background: transparent none no-repeat center center;
	text-indent: -9999px;
}

#support ul li a#osmosoft {
	background-image: url('/images/sup_osmosoft.png');
}

#support ul li a#designspark {
	background-image: url('/images/sup_designspark.jpg');
}

#support ul li a#bbcld {
	background-image: url('/images/sup_bbcld.jpg');
}

#support ul li a#londonhackspace {
	background-image: url('/images/sup_londonhackspace.jpg');
}

#support ul li a#skillsmatter {
	background-image: url('/images/sup_skillsmatter.gif');
}

#support ul li a#universityofkent {
	background-image: url('/images/sup_universityofkent.jpg');
}

#support ul li a#c4cc {
	background-image: url('/images/sup_c4cc.jpg');
}

#support ul li a#oomlout {
	background-image: url('/images/sup_oomlout.jpg');
}

#support ul li a#skpang {
	background-image: url('/images/sup_skpang.gif');
}

#support ul li a#memset {
	background-image: url('/images/sup_memset.gif');
}

#support ul li a#embecosm {
	background-image: url('/images/sup_embecosm.jpg');
}

#support ul li a#capitalscf {
	background-image: url('/images/sup_capitalscf.jpg');
}

#support ul li a#cosm {
	background-image: url('/images/sup_cosm.jpg');
}

#support ul li a#espktn {
        background-image: url('/images/sup_espktn.jpg');
}

#support ul li a#erlangsolutions {
        background-image: url('/images/sup_erlangsolutions.png');
}

#support ul li a#quick2wire {
	background-image: url('/images/sup_quick2wire.png');
}

#support ul li a#solderpad {
	background-image: url('/images/sup_solderpad.png');
}

#support ul li a#surevoip {
	background-image: url('/images/sup_surevoip.png');
}

#support ul li a#abopen {
	background-image: url('/images/sup_abopen.png');
}

#support ul li a#xmos {
	background-image: url('/images/sup_xmos.png');
}

#support ul li a#codethink {
	background-image: url('/images/sup_codethink.png');
}

#support ul li a#ktn {
	background-image: url('/images/sup_ktn.jpg');
}

#support ul li a#oshpark {
	background-image: url('/images/sup_oshpark.png');
}

h1, h2, h3 {
	font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman",serif;
}

h1 {
	margin: 3em 0 0;
	font-size: 3em;
}

h2, h3 {
	font-size: 3em;
	margin: 0;
	color: #302626;
	padding: 0.75em 0 0.25em 0;
}

h3 {
	font-size: 2em;
}


#title h2 {
	color: #302626;
	font-size: 1em;
	font-style: italic;
}

h2 a,
h2 a:active,
h2 a:visited {
	color: #302626;
	text-decoration: none;
}

#title a,
#title a:active,
#title a:visited {
	color: #302626;
	text-decoration: none;
}

#footer a,
#footer a:active,
#footer a:visited {
	color: white; 
}

#content {
	padding: 1em 12em 0 12em;
}

#flickr {
	padding-top: 3em;
}

.tag {
	font-family: fixed;
}

#footer {
	background-color: #302626;
	color: #fff;
	margin: 2em 0 0 0;
	padding: 1em;
	font-size: 0.8em;
	text-align: center;
}

#flickr {
	margin: 0 auto;
}

#flickr a { 
	float: left;
	padding: 4px;
	background: #ccc;
	margin: 10px;
}

#flickr a:hover { 
	background: #66ccff; 
}

#flickr a img {
	border: 0;
}

#upload {
	clear: both;
	padding: 1em 0;
}

@media screen and (max-width: 800px) {
	#title,
	#content,
	#footer {
		float: none;
		width: auto;
		margin: 0;
		padding: 1em;
	}
	img.logo {
		width: 33%;
		float: right;
	}
}
