body {
	background-color: #fff;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
}

#title {
	margin: 0 2em 5em 12em;
	float: left;
}

img.logo {
	float: right;
	padding: 2.5em 2em 0 0;
}

#content {
	clear: both;
}

h1, h2, h3 {
	font-family: "Hoefler Text", Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman",serif;
}

h1 {
	margin: 3em 0 0;
	font-size: 3em;
}

h2, h3 {
	font-size: 3em;
	margin: 0;
	color: #302626;
	padding: 0.75em 0 0.25em 0;
}

h3 {
	font-size: 2em;
}



#title h2 {
	color: #302626;
	font-size: 1em;
	font-style: italic;
}

h2 a,
h2 a:active,
h2 a:visited {
	color: #302626;
	text-decoration: none;
}

#title a,
#title a:active,
#title a:visited {
	color: #302626;
	text-decoration: none;
}

#footer a,
#footer a:active,
#footer a:visited {
	color: white; 
}

#content {
	padding: 1em 12em 4em 12em;
}

#footer {
	background-color: #302626;
	color: #fff;
	margin: 2em 0 0 0;
	padding: 1em;
	font-size: 0.8em;
	text-align: center;
}

