        <div id="support">
                <p><i>With thanks to our supporters:</i></p>
		<ul>
		<li><a id="osmosoft" title="Osmosoft - open source applications from BT" href="http://osmosoft.com">Osmosoft - open source applications from BT</a></li>
		<li><a id="bbcld" title="BBC Learning Development" href="http://www.bbc.co.uk/learning/learningdevelopment/">BBC Learning Development</a></li>
        	<li><a id="designspark" title="DesignSpark" href="http://www.designspark.com">DesignSpark from RS</a></li>
		<li><a id="londonhackspace" title="London Hackspace" href="https://london.hackspace.org.uk/">London Hackspace</a></li>
		<li><a id="skillsmatter" title="Skills Matter" href="http://skillsmatter.com/">Skills Matter</a></li>
		<li><a id="universityofkent" title="University of Kent" href="http://www.kent.ac.uk/">University of Kent</a></li>
		<li><a id="c4cc" title="The Centre for Creative Collaboration" href="http://www.creativecollaboration.org.uk/">The Centre for Creative Collaboration</a></li>
		<li><a id="oomlout" title="oomlout" href="http://oomlout.co.uk/">oomlout</a></li>
		<li><a id="skpang" title="SK Pang Electronics" href="http://www.skpang.co.uk">SK Pang Electronics</a></li>
		<li><a id="memset" title="Memset Ltd" href="http://www.memset.com/">Memset Ltd</a></li>
		<li><a id="embecosm" title="Embecosm Ltd" href="http://www.embecosm.com">Embecosm Ltd</a></li>
                <li><a id="capitalscf" title="Capital SCF" href="http://www.capitalscf.com/">Capital SCF</a></li>
		<li><a id="cosm" title="Cosm" href="https://cosm.com/">Cosm</a></li>
                <li><a id="espktn" title="Electronics, Sensors, Photonics Knowledge Transfer Network" href="http://www.espktn.org/">ESP KTN</a></li>
                <li><a id="erlangsolutions" title="Erlang Solutions" href="https://www.erlang-solutions.com/">Erlang Solutions</a></li>
                <li><a id="quick2wire" title="Electronics kits for Hobbyists, Makers and Educators." href="http://quick2wire.com/">Quick2Wire</a></li>
                <li><a id="solderpad" title="A place to share, discover and collaborate on electronic projects." href="http://solderpad.com">SolderPad</a></li>
		<li><a id="surevoip" title="Open Telecoms for Business" href="http://www.surevoip.co.uk/">SureVoIP</a></li>
		<li><a id="abopen" href="abopen" title="Open Source and Technical Communities Consulting" href="http://abopen.com">AB Open</a></li>
                <li><a id="xmos" href="xmos" title="XMOS - Multicore Microcontrollers" href="http://www.xmos.com">XMOS</a></li>
		<li><a id="codethink"href="codethink" title="Codethink - Providing Genius" href="http://www.codethink.co.uk">Codethink</a></li>
		</ul>
        </div>
