        <div id="support">
                <p><i>With thanks to our supporters:</i></p>
		<ul>
		<li><a id="osmosoft" title="Osmosoft - open source applications from BT" href="http://osmosoft.com">Osmosoft - open source applications from BT</a></li>
		<li><a id="bbcld" title="BBC Learning Development" href="http://www.bbc.co.uk/learning/learningdevelopment/">BBC Learning Development</a></li>
        	<li><a id="designspark" title="DesignSpark" href="http://www.designspark.com">DesignSpark from RS</a></li>
		<li><a id="londonhackspace" title="London Hackspace" href="https://london.hackspace.org.uk/">London Hackspace</a></li>
		<li><a id="skillsmatter" title="Skills Matter" href="http://skillsmatter.com/">Skills Matter</a></li>
		<li><a id="universityofkent" title="University of Kent" href="http://www.kent.ac.uk/">University of Kent</a></li>
		<li><a id="c4cc" title="The Centre for Creative Collaboration" href="http://www.creativecollaboration.org.uk/">The Centre for Creative Collaboration</a></li>
		<li><a id="oomlout" title="oomlout" href="http://oomlout.co.uk/">oomlout</a></li>
		<li><a id="skpang" title="SK Pang Electronics" href="http://www.skpang.co.uk">SK Pang Electronics</a></li>
		<li><a id="memset" title="Memset Ltd" href="http://www.memset.com/">Memset Ltd</a></li>
		</ul>
        </div>
